@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #232f25 16.62%, #8d8e52 85.61%);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.img-cabecalho{
    height: 72px;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
}
.item-cabecalho{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}
.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-div{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-title{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}
.conteudo-principal-html-java{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}
.conteudo-principal-botao{
    background-color: #ecd6c4;
    width: 185px;
    height: 67px;
    border: none;
    border-radius: 18px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2F2325;
}
.conteudo-principal-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}
.conteudo-principal-img{
    height: 430px;
}
.conteudo-secundario-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}
.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 22px;
    color: #fff2ef;
    margin-bottom: 16px;
    text-align: justify;
    justify-content: space-around;
}
.imgs-conteudo-secundario{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffe9d6;
}
.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}
.rodape-img{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffe9d6;
}